body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    
}



/*h1, h2, h3 {
    margin: 0;
    
}*/

h2 {
    margin: 0;
    padding: 5px;
    color: #533d6a;
    text-shadow: 1px 1px 4px #777;
    font-size: 14px;
}

#container {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


#content{
    padding: 0px;
    background-color: #f4f4ff;
}

#nav {
    background-color: #f4f4ff;
    color: #533d6a;
    list-style: none;
    text-align: right;
    padding: 15px 0 15px 0;
    
    
}

#nav li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 12px;
    
}

#nav li a {
    text-decoration: none;
    color: #000000;
    
}

#nav li a:hover {
    color: #c1c1c1;
}

#nav ul {
    
    padding: 0;
    
}


#main{
    width: 880px;
    float: center;
    padding: 5px;
    margin: 5px;
}





#logo {
    color: white;
    float: left;
    padding-left: 25px;
    font-size: 25px;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 4px #777;
}

#logo a {
    text-decoration: none;
    color: #533d6a;
}

.banner {
    width: 100%;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}

div.block {
    background-color: #e6e6f7;
    height: 50px;
    width: 100%;
    display: block;
    clear: both;
}

#footer {
    display: block;
    width: 600p;
    position: relative;
    clear: both;
    padding: 35px;
    background-color: #3c2e4b;
    color: black;
    text-align: right;
    
   
}

#footer li {
    font-size: 12px;
    list-style: none;
    
}

#footer li a {
    color: #ffffff;
    text-decoration: none;
    
}

p {
  border: 0px solid #533d6a;
  padding: 5px;
}

#content {
  margin: 0px;
  padding: 0px;
  background-color: #e6e6f7;
}

div.article {
  margin: 5px;
  padding: 10px;
  background-color: white;
}

div.article {
  border: 1px solid white;
  margin: 5px;
  padding: 8px;
}

div.article p {
    
}


/* Text im Bild */

#einblenden {
  margin-top: -25px;  /* Text hinaufschieben */
  margin-left: 280px;   /* Text horiz. ausrichten */
  font-weight: bol;   /* Text formatieren */
  color: #000000;               /* Text Farbe */
}

/* Border */

table, td, th {
  border: 3px solid #e6e6f7;
    margin: 1px;
    padding: 5px;
    width: 850px;
}

#table1 {
  border-collapse: separate;
}

#table2 {
  border-collapse: collapse;
}

/* Bilder Unten nebeneinander */

figure {
 margin:5px;
 padding:10px;
 background: #533d6a;
}

figure img {
 width:100%;
 display:block;
}

figcaption {
 padding-top:10px;
 text-align:center;
 color:#fff;
}

.flex {
 display:flex;
}

.spalte_50  { flex-basis:50.000%;padding:5px; }
    
























